# 2. Data Wrangling

- Identify duplicate rows in the data frame.
- Remove duplicate rows from the dataframe.
- Find the number of missing values for all columns.
- Normalize the data using two existing columns.

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [9]:
df.duplicated().sum()

154

In [10]:
df=df.drop_duplicates()
df.shape

(11398, 85)

In [11]:
df.duplicated().sum()

0

In [12]:
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

## Normalize

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section I will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

In [13]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [22]:
df['CompFreq'].head()

0     Yearly
1     Yearly
2     Yearly
3    Monthly
4     Yearly
Name: CompFreq, dtype: object

In [14]:
df['CompTotal'].isnull().sum()

809

In [15]:
list_1=[]
end=len(df.index)
L=list(range(0,end))

for i in L:
    if df.iloc[i]['CompFreq']=='Yearly':
        x=df.iloc[i]['CompTotal']
    elif df.iloc[i]['CompFreq']=='Monthly':
        x=df.iloc[i]['CompTotal']*12
    elif df.iloc[i]['CompFreq']=='Weekly':
        x=df.iloc[i]['CompTotal']*52
    else:
        x='Nan'
    list_1.append(x)

In [16]:
len(list_1)

11398

In [17]:
df['NormalizedAnnualCompensation']=list_1

In [18]:
df.shape

(11398, 86)

In [20]:
df['NormalizedAnnualCompensation'].head()

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormalizedAnnualCompensation, dtype: object